.order-management {
  max-width: 100%;
  overflow-x: auto;
}

.search-container {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: 'center';
  gap: '10px'
}

.search-input {
  padding: 8px;
  width: 80%;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.filter-container {
  display: inline-block;
}

.order-table {
  width: 90%;
  
  margin-top: 10px;
}

.order-table th, .order-table td {
  padding: 5px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 13px;
}

.order-table th {
  background-color: #f4f4f4;
  
}

.order-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-table tr:hover {
  background-color: #f9f9f9;
}

.order-table td button {
  padding:5px;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-table td button:hover {
  background-color: #007bff;
  color: white;
}

.order-table .button-thanhcong {
  background-color: #28a745;
  color: white;
}

.order-table .button-huy {
  background-color: #dc3545;
  color: white;
}

.order-table .button {
  background-color: #ffc107;
  color: white;
}

.order-table td button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Căn chỉnh cột số thứ tự */
.order-table td:first-child,
.order-table th:first-child {
  width: 40px;
  text-align: center;
}

.order-table td:nth-child(2),
.order-table th:nth-child(2) {
  width: 80px; /* Cột mã đơn */
}

.order-table td:nth-child(3),
.order-table th:nth-child(3) {
  width: 150px; /* Cột khách hàng */
}

.order-table td:nth-child(4),
.order-table th:nth-child(4) {
  width: 150px; /* Cột admin */
}

.order-table td:nth-child(5),
.order-table th:nth-child(5) {
  width: 100px; /* Cột ngày */
}

.order-table td:nth-child(6),
.order-table th:nth-child(6) {
  width: 80px; /* Cột trạng thái */
}

.order-table td:nth-child(7),
.order-table th:nth-child(7) {
  width: 100px; /* Cột hành động */
}
